<div class="container">
  <div class="page-title">
    <h3>予定一覧</h3>
    <div class="flashbox">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <%= link_to :new_schedule do %>
      <button class="edit-btn">新規追加</button>
    <% end %>
  </div>
  
  <div class="contents">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>更新日時</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.id %></td>
            <td><%= schedule.title %></td>
            <td><%= l schedule.start_date %></td>
            <td><%= l schedule.end_date %></td>
            <td>
              <% if schedule.all_day == true %>
                〇
              <% else %>
              <% end %>
            </td>
            <td><%= schedule.updated_at.to_fs(:datatime_jp) %></td>
            <td>
              <%= link_to "詳細", schedule %>
            </td>
            <td>
              <%= link_to "編集", [:edit, schedule] %>
            </td>
            <td>
              <%= link_to "削除", schedule, data: { turbo_method: :delete, turbo_confirm:"「#{schedule.title}」を削除しますか？" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="index-status">
    <p>予定件数 <%= @schedule_total %> 件</p>
    <p>本日の日付 <%= l @today %> </p>
  </div>
</div>
